<div class="jumbotron text-center">
  <h1>Questionnaires</h1>
  <p class="lead">Choose the questionnaire that you want</p>
  
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assets/bla2.PNG" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3><a [routerLinkActive]="['active']"
           [routerLinkActive]="['router-link-active']"
           routerLink="/questionnaire1"
           class="list-group-item">
          Questionnaire 1
        </a></h3>
        <p><strong>Assessment Test for COPD.</strong>
		The questionnaires have been created to inform each patient about the effect of his illness.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail>
      <img src="/assets/bla1.PNG" alt="Generic placeholder image" width="140" height="170">
      <div class=caption>
        <h3><a [routerLinkActive]="['active']"
           [routerLinkActive]="['router-link-active']"
           routerLink="/questionnaire2"
           class="list-group-item">
          Questionnaire 2
        </a></h3>
        <p><strong>Questionnaire for HEALTH.</strong>
		The questionnaires have been created to inform each patient about the effect of his illness.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail>
      <img src="/assets/bla3.PNG" alt="placeholder image" width="140" height="140">
      <div class=caption>
        <h3><a [routerLinkActive]="['active']"
           [routerLinkActive]="['router-link-active']"
           routerLink="/questionnaire3"
           class="list-group-item">
          Questionnaire 3
        </a></h3>
        <p><strong>Questionnaire for cancer patients.</strong>
		The questionnaires have been created to inform each patient about the effect of his illness.</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class=thumbnail>
      <img src="/assets/bla6.PNG" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3><a [routerLinkActive]="['active']"
           [routerLinkActive]="['router-link-active']"
           routerLink="/questionnaire4"
           class="list-group-item">
          Questionnaire 4
        </a></h3>
        <p><strong>Questionnaire on blood pressure.</strong>
		The questionnaires have been created to inform each patient about the effect of his illness.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail>
      <img src="/assets/bla7.PNG" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3><a [routerLinkActive]="['active']"
           [routerLinkActive]="['router-link-active']"
           routerLink="/questionnaire5"
           class="list-group-item">
          Questionnaire 5
        </a></h3>
        <p><strong>Multiple Sclerosis Questionnaire.</strong>
		The questionnaires have been created to inform each patient about the effect of his illness.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail>
      <img src="/assets/bla9.PNG" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3><a [routerLinkActive]="['active']"
           [routerLinkActive]="['router-link-active']"
           routerLink="/questionnaire6"
           class="list-group-item">
          Questionnaire 6
        </a></h3>
        <p><strong>Questionnaire for coronary heart disease.</strong>
		The questionnaires have been created to inform each patient about the effect of his illness.</p>
      </div>
    </div>
  </div>

</div>