<h1 class="page-header">Register page</h1>
<!-- Custom Success/Error Message -->
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Registration Form -->
<form [formGroup]="form">

  <!-- Username Input -->
  <div class="form-group">
    <label>User name</label>
    <input type="text"
           name="username"
           class="form-control"
           autocomplete="off"
           placeholder="*Username"
           formControlName="username"/> <!-- to xreiazomai gia na ta steilw sto servise -->
    <ul class="help-block">
      <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty" class="validator_color">This field is required</li>
      <li *ngIf="form.controls.username.errors?.minlength && form.controls.username.dirty || form.controls.username.errors?.maxlength && form.controls.username.dirty " class="validator_color">Minimum characters: 3, Maximum characters: 15</li>
    </ul>
  </div>

  <!-- Password Input -->
  <div class="form-group">
    <label>User password</label>
    <input type="password"
           name="password"
           class="form-control"
           autocomplete="off"
           placeholder="*Password"
           formControlName="password"/>
    <ul class="help-block">
      <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty" class="validator_color">This field is required</li>
      <li *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty" class="validator_color">Minimum characters: 8, Maximum characters: 35</li>
    </ul>
  </div>

  <!-- Email Input -->
  <div class="form-group">
    <label>Email</label>
    <input type="email"
           name="email"
           class="form-control"
           autocomplete="off"
           placeholder="*email"
           formControlName="email"/>
    <ul class="help-block">
      <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty" class="validator_color">This field is required</li>
      <li *ngIf="form.controls.email.errors?.minlength && form.controls.email.dirty || form.controls.email.errors?.maxlength && form.controls.email.dirty " class="validator_color">Minimum characters: 8, Maximum characters: 35</li>
    </ul>
  </div>

  <!-- Country Input -->
  <div class="form-group">
    <label>Country</label>
    <input type="country" name="country" class="form-control" autocomplete="off" placeholder="*country"
           formControlName="country"/>
    <ul class="help-block">
      <li *ngIf="form.controls.country.errors?.required && form.controls.country.dirty" class="validator_color">This field is required</li>
      <li *ngIf="form.controls.country.errors?.minlength && form.controls.country.dirty || form.controls.country.errors?.maxlength && form.controls.country.dirty" class="validator_color">Minimum characters: 3, Maximum characters: 35</li>
    </ul>
  </div>

  <!-- Gendre Input -->
  <div class="form-group">
    <label>Gender</label>
    <input type="gendre" name="gendre" class="form-control" autocomplete="off" placeholder="*gendre"
           formControlName="gendre"/>
    <ul class="help-block">
      <li *ngIf="form.controls.gendre.errors?.required && form.controls.gendre.dirty" class="validator_color">This field is required</li>
      <li *ngIf="form.controls.gendre.errors?.minlength && form.controls.gendre.dirty || form.controls.gendre.errors?.maxlength && form.controls.gendre.dirty" class="validator_color">Minimum characters: 4, Maximum characters: 6</li>
    </ul>
  </div>

  <!-- Age Input -->
  <div class="form-group">
    <label>Age</label>
    <input type="age" name="age" class="form-control" autocomplete="off" placeholder="*age"
           formControlName="age"/>
    <ul class="help-block">
      <li *ngIf="form.controls.age.errors?.required && form.controls.age.dirty" class="validator_color">This field is required</li>
      <li *ngIf="form.controls.age.errors?.minlength && form.controls.age.dirty || form.controls.age.errors?.maxlength && form.controls.age.dirty" class="validator_color">Minimum characters: 2, Maximum characters: 3</li>
    </ul>
  </div>

  <!-- Submit Input -->
  <button (click)="onRegisterSubmit()"
              value="Submit"
              class="btn btn-primary"><i class="fa fa-user-plus"></i> Register
      </button>

</form>
<!-- Registration Form /-->
