<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Disease-Symptom</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a *ngIf="authService.loggedIn()"
           [routerLinkActive]="['active']"
           [routerLinkActive]="['router-link-active']"
           routerLink="/dashboard"
           class="list-group-item">
          <i class="fa fa-group"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a *ngIf="authService.loggedIn()"
           [routerLinkActive]="['active']"
           [routerLinkActive]="['router-link-active']"
           routerLink="/diseases"
           class="list-group-item">
          <i class="fa fa-flask"></i>
          Disease
        </a>
      </li>
      <li>
        <a *ngIf="authService.loggedIn()"
           [routerLinkActive]="['active']"
           [routerLinkActive]="['router-link-active']"
           routerLink="/symptoms"
           class="list-group-item">
          <i class="fa fa-heartbeat"></i>
          Symptom
        </a>
      </li>
	  <li><a *ngIf="authService.loggedIn() && !authService.adminlogin()" class="list-group-item" data-toggle="collapse" data-target="#submenu1"
           aria-expanded="false"><i class="fa fa-caret-down"></i> Questionnaires</a>
      <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
        <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"
               [routerLinkActive]="['router-link-active']"
               routerLink="/questionnaire1" class="list-group-item_1">
          <i class="fa fa-file-text"></i> 1st Questionnaire</a></li>
        <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"
               [routerLinkActive]="['router-link-active']"
               routerLink="/questionnaire2" class="list-group-item_1">
          <i class="fa fa-file-text"></i> 2nd Questionnaire</a></li>
        <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"
               [routerLinkActive]="['router-link-active']"
               routerLink="/questionnaire3" class="list-group-item_1">
          <i class="fa fa-file-text"></i> 3rd Questionnaire</a></li>
        <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"
               [routerLinkActive]="['router-link-active']"
               routerLink="/questionnaire4" class="list-group-item_1">
          <i class="fa fa-file-text"></i> 4th Questionnaire</a></li>
        <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"
               [routerLinkActive]="['router-link-active']"
               routerLink="/questionnaire5" class="list-group-item_1">
          <i class="fa fa-file-text"></i> 5th Questionnaire</a></li>
        <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"
               [routerLinkActive]="['router-link-active']"
               routerLink="/questionnaire6" class="list-group-item_1">
          <i class="fa fa-file-text"></i> 6th Questionnaire</a></li>
      </ul>
    </li>
      <li>
        <a *ngIf="authService.loggedIn()"
           [routerLinkActive]="['active']"
           [routerLinkActive]="['router-link-active']"
           routerLink="/profile"
           class="list-group-item">
          <i class="fa fa-drivers-license-o"></i>
          Profile
        </a>
      </li>
    </ul>
    <!--gia na emfanistei dexia-->
    
  </div>
</nav>
