.navbar-inverse {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 5%;
}
.list-group-item {
  background-color: #222222;
  border-color: #222222;
}
.list-group-item:hover {
  border-color: #222222;
}
.list-group-item:focus {
  color: cornflowerblue;
}

#logout_button{
  margin-top: 8px;
  margin-right: 5px;
}

.navbar-nav{
  margin-left: 20px;
}
@media screen and (max-width: 1600px) {
  .navbar-inverse {
    visibility: hidden;
  }
}

#submenu1{
	background-color: #222222;
    color: ivory;
}

/*@media screen and (max-width: 900px) {*/
  /*.navbar-inverse {*/
    /*max-height: 600px;*/
  /*}*/
/*}*/
