<div>
  <div *ngIf="show_div1()" >
    <div class="uSER">
      <li *ngFor="let users of que1">
       <h4>The user with user id:<strong> {{users.id_2}} </strong>has score:<strong> {{users.Score}}</strong> in <strong> 1st </strong> questionnaire at<strong> {{users.Date}}</strong></h4>
      </li>
    </div>  
	<br>
  </div>
  
  <div *ngIf="show_div2()">
    <div class="uSER">
      <li *ngFor="let users of que2">
       <h4>The user with user id:<strong> {{users.id_2}}</strong> has score:<strong> {{users.Score}}</strong> in <strong> 2nd </strong> questionnaire at<strong> {{users.Date}}</strong></h4>
      </li>
    </div>  
	<br>
  </div>
  
  <div *ngIf="show_div3()">
    <div class="uSER">
      <li *ngFor="let users of que3">
       <h4>The user with user id:<strong> {{users.id_2}}</strong> has score:<strong> {{users.Score}}</strong> in <strong> 3rd </strong> questionnaire at<strong> {{users.Date}}</strong></h4>
      </li>
    </div>  
	<br>
  </div>
  
  <div *ngIf="show_div4()">
    <div class="uSER">
      <li *ngFor="let users of que4">
       <h4>The user with user id:<strong> {{users.id_2}}</strong> has score:<strong> {{users.Score}}</strong> in <strong> 4th </strong> questionnaire at<strong> {{users.Date}}</strong></h4>
      </li>
    </div>  
	<br>
  </div>
  
  <div *ngIf="show_div5()">
    <div class="uSER">
      <li *ngFor="let users of que5">
       <h4>The user with user id:<strong> {{users.id_2}}</strong> has score:<strong> {{users.Score}}</strong> in <strong> 5th </strong> questionnaire at<strong> {{users.Date}}</strong></h4>
      </li>
    </div>  
	<br>
  </div>
  
  <div *ngIf="show_div6()">
    <div class="uSER">
      <li *ngFor="let users of que6">
       <h4>The user with user id:<strong> {{users.id_2}}</strong> has score:<strong> {{users.Score}}</strong> in <strong> 6th </strong> questionnaire at<strong> {{users.Date}}</strong></h4>
      </li>
    </div>  
	<br>
  </div>
  
  <!-- Output of data -->
  <div class="uSERS">
  <h3 id="admin_1">The admin can access in every questionnaire's result</h3>
    <li *ngFor="let users of uSER">
      <h4 id="user_name">The id is:<strong> {{users.user_id}}</strong> with user name:<strong> {{users.user_name}}</strong>
	    <span><button id="button_inside1" (click)="admin_quest1(users.user_id)"
              value="Submit"
              class="btn btn-primary">1st
      </button>
	  <button id="button_inside2" (click)="admin_quest2(users.user_id)"
              value="Submit"
              class="btn btn-primary">2nd
      </button>
	  <button id="button_inside3" (click)="admin_quest3(users.user_id)"
              value="Submit"
              class="btn btn-primary">3rd
      </button>
	  <button id="button_inside4" (click)="admin_quest4(users.user_id)"
              value="Submit"
              class="btn btn-primary">4th
      </button>
	  <button id="button_inside5" (click)="admin_quest5(users.user_id)"
              value="Submit"
              class="btn btn-primary">5th
      </button>
	  <button id="button_inside6" (click)="admin_quest6(users.user_id)"
              value="Submit"
              class="btn btn-primary">6th
      </button></span>
	  </h4>  	  
	  <hr>
	</li>
  </div>  
</div>