.uSERS{
	width: 100%;
	list-style-type: none;
}

.uSER{
	list-style-type: none;
}

#button_inside1,#button_inside2,#button_inside3,#button_inside4,#button_inside5,#button_inside6{
	border-radius: 5%;
	margin-left: 5px;
}
#button_inside1{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: small;
}
#button_inside2{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: small;
}
#button_inside3{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: small;
}
#button_inside4{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: small;
}
#button_inside5{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: small;
}
#button_inside6{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: small;
}
#admin_1{
	text-align: center;
}