<h1 class="page-header">Ερωτηματολόγιο για τη σκλήρυνση κατά πλάκας</h1>
<label class="naming">{{da}}</label>

<nav class="disease_disease">

  <!-- Custom Success/Error Message -->
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

  <div id="first_quest">
    <form [formGroup]="form">
      <div class="Q1">
        <label>Πότε ανιχνεύθηκε η πάθηση;</label>
        <p>1 -> Αρκετά νωρίς</p>
        <p>10 -> Αρκετά αργά</p>
        <!-- for each day in the days array -->
        <div *ngFor="let day of days">
          <!-- create a radio button-->
          <input
            type="radio"
            name="dayOfTheWeek"
            value="{{day}}"
            (change)="radioChangeHandler($event)">
          <i>{{day}}</i>
        </div>
        <!-- the radio button change will be reflected below -->
        <p><span>Επέλεξες: </span><b>{{selectedDay}}</b></p>
      </div>
    </form>

    <div class="next">
      <button (click)="changeShow()"
              value="Submit"
              class="btn btn-danger navbar-btn">next
      </button>
    </div>
  </div>

  <div id="first_quest1">
    <form [formGroup]="form">
      <div *ngIf="viewing()" class="age">
        <label>Τι πιστεύεται για την ένταση των συμπτωμάτων;</label>
        <p>1 -> Πολύ μικρή ένταση</p>
        <p>10 -> Έντονα συμπτώματα</p>
        <!-- for each day in the days array -->
        <div *ngFor="let day of days2">
          <!-- create a radio button-->
          <input
            type="radio"
            name="dayOfTheWeek"
            value="{{day}}"
            (change)="radioChangeHandler2($event)">
          <i>{{day}}</i>
        </div>
        <!-- the radio button change will be reflected below -->
        <p><span>Επέλεξες: </span><b>{{selectedDay2}}</b></p>
      </div>
    </form>

    <div *ngIf="viewing()" class="next">
      <button (click)="changeShow2()"
              value="Submit"
              class="btn btn-danger navbar-btn">next
      </button>
    </div>
  </div>

  <div id="first_quest2">
    <form [formGroup]="form">
      <div *ngIf="viewing2()" class="illnes">
        <label>Πόσο βοηθάει η θεραπεία που ακολουθείται;</label>
        <p>1 -> Πολύ λίγο</p>
        <p>10 -> Πάρα πολύ</p>
        <!-- for each day in the days array -->
        <div *ngFor="let day of days3">
          <!-- create a radio button-->
          <input
            type="radio"
            name="dayOfTheWeek"
            value="{{day}}"
            (change)="radioChangeHandler3($event)">
          <i>{{day}}</i>
        </div>
        <!-- the radio button change will be reflected below -->
        <p><span>Επέλεξες: </span><b>{{selectedDay3}}</b></p>
      </div>
    </form>

    <div *ngIf="viewing2()" class="next">
      <button (click)="changeShow3()"
              value="Submit"
              class="btn btn-danger navbar-btn">next
      </button>
    </div>
  </div>

  <div id="first_quest3">
    <form [formGroup]="form">
      <div *ngIf="viewing3()" class="medication">
        <label>Θα θέλατε να αλλάξετε τι θεραπεία με κάποια άλλη;</label>
        <p>1 -> Αλλαγή θεραπείας</p>
        <p>10 -> Θέλω την ίδια</p>
        <!-- for each day in the days array -->
        <div *ngFor="let day of days4">
          <!-- create a radio button-->
          <input
            type="radio"
            name="dayOfTheWeek"
            value="{{day}}"
            (change)="radioChangeHandler4($event)">
          <i>{{day}}</i>
        </div>
        <!-- the radio button change will be reflected below -->
        <p><span>Επέλεξες: </span><b>{{selectedDay4}}</b></p>
      </div>
    </form>

    <div *ngIf="viewing3()" class="next">
      <button (click)="changeShow4()"
              value="Submit"
              class="btn btn-danger navbar-btn">next
      </button>
    </div>
  </div>

  <div id="first_quest4">
    <form [formGroup]="form">
      <div *ngIf="viewing4()" class="medication">
        <label>Γνωρίζετε αν σας προκάλεσε άλλες παθήσεις;</label>
        <p>1 -> Δεν μου προκάλεσε καμία</p>
        <p>10 -> Προκάλεσε πολλές</p>
        <!-- for each day in the days array -->
        <div *ngFor="let day of days5">
          <!-- create a radio button-->
          <input
            type="radio"
            name="dayOfTheWeek"
            value="{{day}}"
            (change)="radioChangeHandler5($event)">
          <i>{{day}}</i>
        </div>
        <!-- the radio button change will be reflected below -->
        <p><span>Επέλεξες: </span><b>{{selectedDay5}}</b></p>
      </div>
    </form>

    <div *ngIf="viewing4()" class="next">
      <button (click)="changeShow5()"
              value="Submit"
              class="btn btn-danger navbar-btn">next
      </button>
    </div>
  </div>

  <div id="first_quest5">
    <form [formGroup]="form" (submit)="onQ5()">
      <div *ngIf="viewing5()" class="procedure">
        <label>Πόσο συχνά υποτροπιάζετε;</label>
        <p>1 -> Αρκετά συχνά</p>
        <p>10 -> Ποτέ</p>
        <!-- for each day in the days array -->
        <div *ngFor="let day of days6">
          <!-- create a radio button-->
          <input
            type="radio"
            name="dayOfTheWeek"
            value="{{day}}"
            (change)="radioChangeHandler6($event)">
          <i>{{day}}</i>
        </div>
        <!-- the radio button change will be reflected below -->
        <p><span>Επέλεξες: </span><b>{{selectedDay6}}</b></p>
      </div>


      <div *ngIf="viewing5()" class="next">
        <input type="submit" class="btn btn-primary" value="send"/>
      </div>
    </form>
    <div *ngIf="viewresult()">
      <h3 class="lowres">Your score is {{sum}}</h3>
      <h3 class="lowres">Effect : Low</h3>
      <h3 class="lowres"> In any case visit your doctor</h3>
    </div>

    <div *ngIf="viewresult2()">
      <h3 class="medres">Your score is {{sum}}</h3>
      <h3 class="medres">Effect : Medium</h3>
      <h3 class="medres"> In any case visit your doctor</h3>
    </div>

    <div *ngIf="viewresult3()">
      <h3 class="hires">Your score is {{sum}}</h3>
      <h3 class="hires">Effect : High</h3>
      <h3 class="hires"> In any case visit your doctor</h3>
    </div>
  </div>
</nav>
