<h1 class="page-header">Questionnaire for coronary heart disease</h1>

<nav class="disease_disease">

  <!-- Custom Success/Error Message -->
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

  <div *ngIf="viewing1()" id="first_quest">
    <form [formGroup]="form">
      <div class="Q1">
        <label>How early did you diagnose with coronary heart disease?</label>
        <p>1 -> Very soon</p>
        <p>10 -> Very late</p>
        <!-- for each day in the days array -->
        <div *ngFor="let day of days">
          <!-- create a radio button-->
          <input
            type="radio"
            name="dayOfTheWeek"
            value="{{day}}"
            (change)="radioChangeHandler($event)">
          <i>{{day}}</i>
        </div>
        <!-- the radio button change will be reflected below -->
        <p><span>You choose: </span><b>{{selectedDay}}</b></p>
      </div>
    </form>

    <div class="next">
      <button (click)="changeShow1()"
              value="Submit"
              class="btn btn-primary navbar-btn">Next <i class="fa fa-chevron-circle-right"></i>
      </button>
    </div>
  </div>

  <div *ngIf="viewing2()" id="first_quest1">
    <form [formGroup]="form">
      <div class="age">
        <label>How severe were the symptoms?</label>
        <p>1 -> Not at all</p>
        <p>10 -> Intensively</p>
        <!-- for each day in the days array -->
        <div *ngFor="let day of days2">
          <!-- create a radio button-->
          <input
            type="radio"
            name="dayOfTheWeek"
            value="{{day}}"
            (change)="radioChangeHandler2($event)">
          <i>{{day}}</i>
        </div>
        <!-- the radio button change will be reflected below -->
        <p><span>You choose: </span><b>{{selectedDay2}}</b></p>
      </div>
    </form>

    <div class="previous">
      <button (click)="changeShow1()"
              value="Submit"
              class="btn btn-danger navbar-btn"><i class="fa fa-chevron-circle-left"></i> Previous
      </button>
    </div>
    <div class="next">
      <button (click)="changeShow2()"
              value="Submit"
              class="btn btn-primary navbar-btn">Next <i class="fa fa-chevron-circle-right"></i>
      </button>
    </div>
  </div>

  <div *ngIf="viewing3()" id="first_quest2">
    <form [formGroup]="form">
      <div class="illnes">
        <label>What do you think is the course of treatment you are following?</label>
        <p>1 -> It is fully effective</p>
        <p>10 -> It is not effective</p>
        <!-- for each day in the days array -->
        <div *ngFor="let day of days3">
          <!-- create a radio button-->
          <input
            type="radio"
            name="dayOfTheWeek"
            value="{{day}}"
            (change)="radioChangeHandler3($event)">
          <i>{{day}}</i>
        </div>
        <!-- the radio button change will be reflected below -->
        <p><span>You choose: </span><b>{{selectedDay3}}</b></p>
      </div>
    </form>

    <div class="previous">
      <button (click)="changeShow2()"
              value="Submit"
              class="btn btn-danger navbar-btn"><i class="fa fa-chevron-circle-left"></i> Previous
      </button>
    </div>
    <div class="next">
      <button (click)="changeShow3()"
              value="Submit"
              class="btn btn-primary navbar-btn">Next <i class="fa fa-chevron-circle-right"></i>
      </button>
    </div>
  </div>

  <div *ngIf="viewing4()" id="first_quest3">
    <form [formGroup]="form">
      <div class="medication">
        <label>Does it have caused other diseases?</label>
        <p>1 -> It did not cause any</p>
        <p>10 -> It cause many others</p>
        <!-- for each day in the days array -->
        <div *ngFor="let day of days4">
          <!-- create a radio button-->
          <input
            type="radio"
            name="dayOfTheWeek"
            value="{{day}}"
            (change)="radioChangeHandler4($event)">
          <i>{{day}}</i>
        </div>
        <!-- the radio button change will be reflected below -->
        <p><span>You choose: </span><b>{{selectedDay4}}</b></p>
      </div>
    </form>

    <div class="previous">
      <button (click)="changeShow3()"
              value="Submit"
              class="btn btn-danger navbar-btn"><i class="fa fa-chevron-circle-left"></i> Previous
      </button>
    </div>
    <div class="next">
      <button (click)="changeShow5()"
              value="Submit"
              class="btn btn-primary navbar-btn">Next <i class="fa fa-chevron-circle-right"></i>
      </button>
    </div>
  </div>

  
  <div *ngIf="viewing6()" id="first_quest4">
    <form [formGroup]="form">
      <div class="procedure">
        <label>How satisfied are you with the treatment?</label>
        <p>1 -> Very disappointed</p>
        <p>10 -> Very happy</p>
        <!-- for each day in the days array -->
        <div *ngFor="let day of days5">
          <!-- create a radio button-->
          <input
            type="radio"
            name="dayOfTheWeek"
            value="{{day}}"
            (change)="radioChangeHandler5($event)">
          <i>{{day}}</i>
        </div>
        <!-- the radio button change will be reflected below -->
        <p><span>You choose: </span><b>{{selectedDay5}}</b></p>
		
    <div class="previous">
      <button (click)="changeShow4()"
              value="Submit"
              class="btn btn-danger navbar-btn"><i class="fa fa-chevron-circle-left"></i> Previous
      </button>
      </div>
      <div class="next">
        <button (click)="onQ6()"
              value="Submit"
              class="btn btn-primary navbar-btn">Send <i class="fa fa-send"></i>
      </button>
      </div>
    </div>
    </form>
  </div>
</nav>
