<h1 class="page-header">Σελίδα σύνδεσης</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<p>Για να συνδεθείτε στην εφαρμογή ακολουθήστε τα παρακάτω βήματα:</p>
<ol>
  <li>Συμπλήρωσε το πεδίο: email</li>
  <li>Συμπλήρωσε το πεδίο: κωδικός χρήστη</li>
  <li>Σύνδεση στην εφαρμογή</li>
</ol>

<!-- Login Form -->
<form [formGroup]="form" (submit)="onLoginSubmit()">

  <!-- Email Input -->
  <div class="form-group">
    <label>Email</label>
    <input type="text"
           name="user_email"
           class="form-control"
           autocomplete="on"
           placeholder="*email"
           formControlName="user_email"/>
    <ul class="help-block">
      <li *ngIf="form.controls.user_email.errors?.required && form.controls.user_email.dirty" class="validation_color">This field is required</li>
      <li *ngIf="form.controls.user_email.errors?.minlength && form.controls.user_email.dirty || form.controls.user_email.errors?.maxlength && form.controls.user_email.dirty " class="validation_color">Minimum characters: 7, Maximum characters: 35</li>
    </ul>
  </div>

  <!-- Password Input -->
  <div class="form-group">
    <label>Κωδικός χρήστη</label>
    <input type="text"
           name="user_password"
           class="form-control"
           autocomplete="on"
           placeholder="*password"
           formControlName="user_password"/>
    <ul class="help-block">
      <li *ngIf="form.controls.user_password.errors?.required && form.controls.user_password.dirty" class="validation_color">This field is required</li>
      <li *ngIf="form.controls.user_password.errors?.minlength && form.controls.user_password.dirty || form.controls.user_password.errors?.maxlength && form.controls.user_password.dirty " class="validation_color">Minimum characters: 5, Maximum characters: 35</li>
    </ul>
  </div>

  <!-- Submit Input -->
  <input type="submit" class="btn btn-primary" value="Σύνδεση"/>

</form>
<!-- Login Form /-->



