#delete_button{
  height: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.message{
	text-align: center;
}
#two_buttons{
	text-align: center;
}
#first_button{
	margin-right: 30px;
}

.history_disease{
	margin-left: 30px;
}