<h1 class="page-header">Disease by symptoms</h1>
<!-- Registration Form -->
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>
<form [formGroup]="form">

  <div class="form-group">
    <label for="symptom">Find the diseases from your symptoms</label>
    <input type="text" name="symptom" class="form-control" autocomplete="off" placeholder="*symptoms"
           formControlName="symptom"/>
  </div>

  <button (click)="onTwoSymptomSubmit()"
              value="Submit"
              class="btn btn-primary"><i class="fa fa-check-circle-o"></i> Find disease
      </button>

	<br>
  <div class="sYMPTOM">
    <li *ngFor="let user of sYMPTOMS">
      <label id="username_22"> {{user.name}}  <span><button id="button_inside" (click)="viewmore(user.name)"
              value="Submit"
              class="btn btn-primary"><i class="fa fa-info-circle"></i> details
      </button></span></label>
      <label id="description_22"> {{user.description}} </label>
    </li>
  </div>
</form>
