.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: #222;
  bottom: 0;
  padding-bottom: 40px;
}
.sidebar-list-right {
  list-style-type: none;
  margin-left: -50px;
  border-color: #222;
}
.list-group-item {
  background-color: #222;
  border-color: #222;
  color: ivory;
}
.list-group-item:hover {
  background-color: dodgerblue;
}
.list-group-item_1:hover {
  background-color: dodgerblue;
}

#toggle_1{
  width: 100%;
}
.list-group-item_1{
  margin-left: 50px;
  font-size: small;
  background-color: #222;
  border-color: #222;
  color: ivory;
  padding-right: 0px;
}
