<!-- Fixed navbar -->
<nav class="sidebar">
  <ul id="openclose" class="sidebar-list-right">
    <li><a *ngIf="authService.loggedIn() && !authService.adminlogin()" [routerLinkActive]="['active']" [routerLinkActive]="['router-link-active']"
           routerLink="/dashboard" class="list-group-item">
      <i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActive]="['router-link-active']"
           routerLink="/home" class="list-group-item">
      <i class="fa fa-drivers-license-o"></i> Home</a></li>
    <li><a *ngIf="authService.adminlogin()" [routerLinkActive]="['active']" [routerLinkActive]="['router-link-active']"
           routerLink="/admin" class="list-group-item">
      <i class="fa fa-drivers-license-o"></i> Admin</a></li>
    <li><a *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActive]="['router-link-active']"
           routerLink="/login" class="list-group-item">
      <i class="fa fa-group"></i> Login</a></li>
    <li><a *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActive]="['router-link-active']"
           routerLink="/register" class="list-group-item">
      <i class="fa fa-address-book-o"></i> Register</a></li>
    <li><a *ngIf="authService.loggedIn() && !authService.adminlogin()" [routerLinkActive]="['active']" [routerLinkActive]="['router-link-active']"
           routerLink="/diseases" class="list-group-item">
      <i class="fa fa-flask"></i> Disease</a></li>
    <li><a *ngIf="authService.loggedIn() && !authService.adminlogin()" [routerLinkActive]="['active']" [routerLinkActive]="['router-link-active']"
           routerLink="/symptoms" class="list-group-item">
      <i class="fa fa-heartbeat"></i> Symptom</a></li>
    <li><a *ngIf="authService.loggedIn() && !authService.adminlogin()" [routerLinkActive]="['active']" [routerLinkActive]="['router-link-active']"
           routerLink="/history" class="list-group-item">
      <i class="fa fa-drivers-license-o"></i> History</a></li>
    <li><a *ngIf="authService.loggedIn() && !authService.adminlogin()" [routerLinkActive]="['active']" [routerLinkActive]="['router-link-active']"
           routerLink="/profile" class="list-group-item">
      <i class="fa fa-drivers-license-o"></i> Profile</a></li>
    <li><a *ngIf="authService.loggedIn() && !authService.adminlogin()" [routerLinkActive]="['active']" [routerLinkActive]="['router-link-active']"
           routerLink="/quests" class="list-group-item">
      <i class="fa fa-drivers-license-o"></i> Questionnaires</a></li>
  </ul>
  
  <ul *ngIf="authService.loggedIn()" class="sidebar-list-right">
		   <button id="toggle_1" (click)="openclose()"
              value="Submit"
              class="btn btn-primary"><i class="fa fa-minus-circle"></i> Logout
      </button>
  </ul>
</nav>

